.vscode/
test/
.output/
docs/

.DS_Store
*.log

# local configs
config.yaml
.env

/binaries
/deb_build

# mysql
/builds/mysql/.*
/builds/redis/.*

.devcontainers
.devcontainer/commandhistory
.devcontainer/docker-compose.yaml

# TEST
.testCoverage.txt
unit.html
