stage: development
grpc:
    port: 5001
http:
    host: 127.0.0.1
    port: 3001
    api_prefix: "/v1"
db:
    user: ${DB_USER}
    password: ${DB_PWD}
    host: ${DB_HOST}
    port: ${DB_PORT}
    name: ${DB_DATABASE}
    log_sql: true
    max_idle_connections: 5
    max_open_conn: 5
    connection_max_lifetime: 10s
redis:
    password: ${REDIS_PASSWORD}
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    database: ${REDIS_DB}
